/Data/
/.idea/
/__pycache__/
/.venv/
.DS_Store
/fetchIcons/icon_from_api
/icon_md5_map.txt
thirdparty_data_source/error.txt
fetchIcons/not_exist.txt
/output/db/item_db_de.sqlite
/output/db/item_db_es.sqlite
/output/db/item_db_fr.sqlite
/output/db/item_db_ja.sqlite
/output/db/item_db_ko.sqlite
/output/db/item_db_ru.sqlite
/output/db/item_db_de.duckdb
/output/db/item_db_es.duckdb
/output/db/item_db_fr.duckdb
/output/db/item_db_ja.duckdb
/output/db/item_db_ko.duckdb
/output/db/item_db_ru.duckdb
/fetchUniverse/cache
fetchIcons/typeids.txt
/output_old
/output/db/item_db_es.sqlite.zip
/output/db/item_db_fr.sqlite.zip
/output/db/item_db_ja.sqlite.zip
/output/db/item_db_ko.sqlite.zip
/output/db/item_db_ru.sqlite.zip
/output/db/item_db_de.sqlite.zip
