/Data/
/.idea/
/__pycache__/
/.venv/
.DS_Store
/fetchIcons/icon_from_api
/icon_md5_map.txt
thirdparty_data_source/error.txt
fetchIcons/not_exist.txt
/output/db/item_db_de.sqlite
/output/db/item_db_es.sqlite
/output/db/item_db_fr.sqlite
/output/db/item_db_ja.sqlite
/output/db/item_db_ko.sqlite
/output/db/item_db_ru.sqlite
/output/db/item_db_de.duckdb
/output/db/item_db_es.duckdb
/output/db/item_db_fr.duckdb
/output/db/item_db_ja.duckdb
/output/db/item_db_ko.duckdb
/output/db/item_db_ru.duckdb
/fetchUniverse/cache
fetchIcons/typeids.txt
/output_old
/output/db/item_db_es.sqlite.zip
/output/db/item_db_fr.sqlite.zip
/output/db/item_db_ja.sqlite.zip
/output/db/item_db_ko.sqlite.zip
/output/db/item_db_ru.sqlite.zip
/output/db/item_db_de.sqlite.zip
/eve_client_data_extra/__pycache__
/eve_client_data_extra/raw
/eve_client_data_extra/extra
/extra
/raw
/accounting_entry_types/extra
/accounting_entry_types/raw
/accounting_entry_types/output/combined_localization.json
/accounting_entry_types/output/en_multi_lang_mapping.json
/accounting_entry_types/__pycache__
station_template_generator_*.log
/station_name_localization/__pycache__
*.sqlite
*.sqlite-journal
*.pyc
/fetchIcons/bp_id.txt
/accounting_entry_types/output/combined_localization_en_zh.json
/output/Icons/*.png
/station_name_localization/station_name_templates_cache.json
/fetchTypes/type_details/
/fetchTypes/typeids.txt
fetchTypes/typeDogma.yaml
/fetchIcons/last_fetch.txt
